/* 
  font-family: 'Bebas Neue', sans-serif;
*/

/* 
  Общие стили
*/

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  width: 100%;
}

.page-body {
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* 
  Header
*/

.main-header {
  display: grid;
  padding: 10px 220px 0px 220px;
  gap: 40px;
  grid-template-columns: 185px 1fr;
}

@media (max-width: 1024px) {
  .main-header {
    display: none;
  }
}

.main-header__logo {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.main-header__logo-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 100%;
}

.main-header__logo-description {
  font-size: 12px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.main-header__menu {
  display: grid;
  grid-template-rows: minmax(42px, min-content) minmax(72px, min-content);
}

.main-header__menu-up {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e7e7e7;
}

.main-header__menu-up-location {
  position: relative;
}

.main-header__menu-up-location-img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}

.main-header__menu-up-list {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  flex-wrap: wrap;
  color: #8285a5;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  padding-top: 5px;
  cursor: pointer;
}

.main-header__menu-up-item--one,
.main-header__menu-up-item--two {
  position: relative;
  margin-right: 15px;
}

.main-header__menu-up-item--one svg,
.main-header__menu-up-item--two svg {
  position: absolute;
  top: 2px;
}

.main-header__menu-up-item:hover,
.main-header__menu-up-item:active {
  color: #0064d8;
}

.main-header__menu-up-item--one:hover svg path,
.main-header__menu-up-item--two:hover svg path {
  stroke: #0064d8; /* Замените цвет на желаемый */
}

.main-header__menu-up-item--one:active svg,
.main-header__menu-up-item--two:active svg {
  transform: rotate(180deg);
}

.main-header__menu-down {
  display: flex;
  align-items: end;
}

.main-header__menu-down-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 12px 14px;
  font-weight: 600;
  color: #fff;
  background-color: #0064d8;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  border-radius: 10px;
  margin-right: 20px;
  border: 0;
  min-width: 193px;
  margin-bottom: 17px;
  cursor: pointer;
}

.line__block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transition: transform 0.4s ease;
}

.line--three {
  width: 12px;
}

.crossed-one {
  transform: rotate(45deg) translateX(30%) translateY(110%);
  position: absolute;
  top: -5px;
}

.crossed-two {
  transform: scale(0);
}

.crossed-three {
  transform: rotate(-45deg) translateX(30%) translateY(110%);
  width: 18px;
  position: absolute;
  top: 3px;
  left: -3px;
}

.main-header__menu-down-search-wrapper {
  width: 100%;
  margin-right: 102px;
  position: relative;
}

.main-header__menu-down-search {
  width: 100%;
  height: 40px;
  padding: 2px 12px 2px 14px;
  border: 2px solid #0064d8;
  border-radius: 10px;
  padding-left: 46px;
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  margin-bottom: 17px;
}

.clear-btn {
  position: absolute;
  top: 12px;
  right: -40px;
  transform: scale(1.3);
  font-weight: 1000;
  cursor: pointer;
}

.main-header__menu-down-search:focus-visible {
  outline: none;
}

.main-header__menu-down-button-panel {
  display: flex;
  gap: 20px;
}

.main-header__menu-down-search-icon {
  position: absolute;
  top: 3px;
}

.main-header__menu-down-search-wrapper svg rect {
  fill: transparent;
}

.main-header__menu-down-button-panel {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
}

.main-header__menu-down-login {
  display: flex;
  padding: 14px 24px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 0;
  border-radius: 10px;
  font-family: 'Golos Text', sans-serif;
  background-color: #f2f7fd;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 17px;
  cursor: pointer;
}

.main-header__menu-down-login:hover {
  background-color: #e5f1ff;
  color: #0056d8;
}

.main-header__menu-down-favorites,
.main-header__menu-down-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .mobile-header {
    display: none;
  }
}

@media (max-width: 1024px) {
  .mobile-header {
    display: flex;
    padding: 10px 16px 10px 16px;
    justify-content: space-between;
    flex-wrap: nowrap;
    border: 1px solid #e7e7e7;
  }
}

.main-header__logo--mobile {
  padding: 0;
}

.main-header__logo-text--mobile {
  font-size: 35px;
  padding-top: 0;
}

.main-header__logo-description--mobile {
  font-size: 7px;
}

.mobile-header__menu {
  display: flex;
  gap: 6px;
}

.mobile-header__menu-item {
  padding: 10px;
  width: 44px;
  height: 44px;
  border: 0;
  background-size: cover;
  cursor: pointer;
}

.mobile-header__menu-item-burger {
  background-color: #0064d8;
}

.mobile-header__menu-item-local {
  background: url(img/header/icon_local.svg) no-repeat;
}

.mobile-header__menu-item-search {
  background: url(img/header/icon_search.svg) no-repeat;
}

/* 
  main
*/
/* 
  slider
*/

.main {
  padding: 0px 220px 0px 220px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .main {
    padding: 0px 32px;
  }
}

@media (max-width: 375px) {
  .main {
    padding: 0px 16px;
  }
}

.slider {
  max-width: 1480px;
  position: relative;
  overflow: hidden;
  margin-top: 6px;
}

@media (max-width: 1024px) {
  .slider {
    margin-top: 24px;
  }
}

@media (max-width: 375px) {
  .slider {
    margin-top: 16px;
  }
}

.slide-container {
  position: relative;
  transition: transform 0.5s ease;
  display: flex;
}

@media (max-width: 1024px) {
  .slide-container {
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  .slide {
    display: none;
  }
}

@media (min-width: 376px) {
  .slide--mobile {
    display: none;
  }
}

.slider__button-prev,
.slider__button-next {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  border: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 45%;
}

@media (max-width: 1024px) {
  .slider__button-prev,
  .slider__button-next {
    display: none;
  }
}

.slider__button-prev {
  left: 20px;
}

.slider__button-next {
  right: 20px;
}

.dots-container {
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 6px;
  bottom: 13px;
  left: 717px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.active-dot {
  opacity: 100;
}

/* 
  advantages
*/

.advantages {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .advantages {
    gap: 6px;
  }
}

@media (max-width: 375px) {
  .advantages {
    gap: 11px;
  }
}

.advantage {
  display: flex;
  align-items: center;
  background-color: #f2f7fd;
  min-width: 280px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 16px 20px 16px 0px;
}

@media (max-width: 1024px) {
  .advantage {
    flex-grow: 1;
    min-width: 220px;
    padding: 6px 20px 6px 0px;
    height: 52px;
  }
}

.advantage__img {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

@media (max-width: 1024px) {
  .advantage__img {
    width: 32px;
    height: 32px;
    padding: 10px;
  }
}

.advantage__text {
  font-weight: 600;
  line-height: 150%;
}

@media (max-width: 1024px) {
  .advantage__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }
}

/* 
  products-categories
*/
.products-categories {
  margin-top: 60px;
}

.products-categories__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.44px;
  margin-bottom: 30px;
}

.products-categories__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.products-categories-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.products-categories__right {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.products-categories__item {
  max-width: 230px;
}

.products-categories__item-name {
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

.products-categories__item-img {
  background-color: #7cd3ff;
  border-radius: 16px;
  height: 230px;
}

.products-categories__item-img-2 {
  background-color: #ffe5c3;
}

.products-categories__item-img-3 {
  background-color: #fff27a;
}

.products-categories__item-img-4 {
  background-color: #76efc3;
}

.products-categories__item-img-5 {
  background-color: #ffbc6d;
}

.products-categories__item-img-6 {
  background-color: #7cbbff;
}

.pproducts-categories__item-img-7 {
  background-color: #f1f1f1;
}

.products-categories__item-img-8 {
  background-color: #f1f386;
}
