/* 
  font-family: 'Bebas Neue', sans-serif;
*/

/* 
  Общие стили
*/

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.page-body {
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 1920px;
  margin: 0 auto;
}

/* 
  Header
*/

.main-header {
  display: grid;
  border: 1px solid red;
  padding: 10px 220px 10px 220px;
  gap: 66px;
  grid-template-columns: 185px 1fr;
}

.main-header__logo {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
}

.main-header__logo-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 100%;
}

.main-header__logo-description {
  font-size: 12px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.main-header__menu {
  display: grid;
  grid-template-rows: minmax(42px, min-content) minmax(72px, min-content);
}

.main-header__menu-up {
  display: flex;
  justify-content: space-between;
}

.main-header__menu-up-location-text {
  position: relative;
}

.main-header__menu-up-location-text::after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(img/header/Icon.svg);
  top: 0;
  left: -20px;
}

.main-header__menu-up-list {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  flex-wrap: wrap;
}
